@model FlightBooking1.Models.Reservations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
